body,html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.my-icon {
  height: auto;
  width: 100px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.my-carousel {
  margin-top: 0px;
}

.my-footer{
  height: fit-content;
}

.my-header {
  z-index: 1080;
  top: 0;
}

.my-image-block {
  height: 400px;
}

a:active {
  color: green !important;
}

a:hover {
  font-weight: 900;
}